# BSD 3-Clause License
# Copyright (c) 2022, Laineil
# All rights reserved.

# https://mariadb.org/download/

[mariadb_{{mariadb_version}}]
name=MariaDB {{mariadb_version}}
baseurl=file:///opt/MariaDB_repos/{{mariadb_version}}
gpgcheck=0
enabled=1
